
body {
  align-items: center;
  background-image: url(../imgs/space.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  text-align: center;
}

label {
  color: aliceblue;
  margin-bottom: 20px;
  font-size: 2rem;
  text-shadow: #000 10px solid;
  
}

a {
  color: aliceblue;
  text-decoration: none;
}

.menu {
  background: linear-gradient(to bottom, rgb(155, 0, 59) 0%, #340f70 33%,#06005e 100%);
  box-shadow: 6px 8px 0 6px rgb(0, 0, 0), 10px 10px 0px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px; /*entre grids*/
  grid-template-columns: repeat(2, auto);
  padding: 10px; /*entre grid e border*/
}

.tecla {
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 220px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 320px;
}

.superman, .batman, .coringa, .groot{
  color: aliceblue;
  text-shadow: 2px 2px 0 #000;
}

.superman {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgs/superman.jpg");
  z-index: 1;
}

.batman {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgs/batman.jfif");
  z-index: 1;
}

.coringa {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgs/joker.jpg");
  z-index: 1;
}

.groot {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgs/eu-sou-groot-online-gratis.webp");
  z-index: 1;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}